.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f4f8;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

.auth-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 30px 25px;
  text-align: center;
  box-sizing: border-box;
}

.auth-logo {
  width: 120px;
  margin-bottom: 16px;
}

.auth-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.auth-subtitle {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  outline: none;
  transition: border 0.2s;
}

.auth-form input:focus {
  border-color: #0077ff;
}


.auth-form button {
    width: 100%;
    padding: 14px;
    background: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.auth-form button:hover:not(:disabled) {
  background-color: #005fcc;
}

.auth-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.auth-error {
  color: #ff4d4f;
  font-size: 13px;
  text-align: left;
}

.auth-footer {
  font-size: 13px;
  margin-top: 15px;
}

.auth-footer a {
  color: #0077ff;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .auth-card {
    padding: 25px 15px;
  }

  .auth-title {
    font-size: 22px;
  }
}
